.Rproj.user
.Rhistory
.RData
.Ruserdata
# Temporary files created by RMarkdown
.DS_Store
# Output files from RCheck
/*.tar.gz
#Reference Manual Files -- moved to inst/rmarkdown
^Reference_Manual_DWLS\.md$
DWLS_0.1.0.pdf
